
body{
  margin:20px;
}
header{
  background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  background:#585858;
  padding: 15px;
  margin:5px
}
nav {
    width: 100%;
    text-align: center;
}
nav > a {
    font-size: 18px;
    background: #ffffff82;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}
nav > a:hover{
    background: #fff;
}
main {
    display: inline-block;
}
h1{
  color:#fff;  text-align: center;
}
h2{
  color:#9182ff;
}
.left{
  width:30%
}
aside {
    padding: 20px;
    width: 25%;
    float: left;
    background: #3c3c3c;
}
img{
  width: 100%;
}
