
body{margin:20px;}
header{background:#585858; padding: 15px; margin:5px}
nav {
    color: #ffffff2e;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
nav>a{
  background: white
}
nav:hover {
    color: #fff;
}
main {
    display: inline-block;
}
h1{color:#fff;  text-align: center;}
h2{color:#9182ff;}
.left{width:30%}
aside {
    padding: 20px;
    width: 25%;
    float: left;
    background: #3c3c3c;
}
img{
  width: 100%;
}
