h1{
  color:#fff
}
header{background:#353535; padding: 15px; margin:5px}
nav{color:#fff}
img{display:none}
main{margin:5px; padding: 15px; background:#353535; color:#fff}
a{color:#fff}
a:hover{color:red}
a:active{color:grey}
